<header>
    <div class="itemCabecera">
        <img src="/images/logo.png" alt="">
    </div>

    <div class="itemCabecera">
        <ul>
            <li class="itemsLista">Login</li>
            <li class="itemsLista">Registro</li>
        </ul>
    </div>
</header>